
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<section>
    <button type="button" onclick="location.href='@Url.Action("Index","Home")'">Returning User</button>
</section>
<section>
    <button type="button" onclick="location.href='@Url.Action("CreateGuided","_Goal")'">New User</button>
</section>