@{
    ViewBag.Title = "Add Mentor";
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <script>
        var sent = document.getElementsByClassName(sent);
        var button = document.getElementsByClassName(button);
    </script>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <h1>Colaborate with a mentor</h1>

    <form>
        <div>
            <span>Name</span>
            <input type="text" />
        </div>
        <div>
            <span>Email</span>
            <input type="text" />
        </div>
        <div>
            <button type="button" class="btn btn-outline-primary">Send Invite</button>
        </div>

    </form>
    <br />
    <div>Don't have a mentor? <a href="">click here</a> to get to Nosson Dovid's explainer page</div>
</body>
</html>
