@{
    ViewBag.Title = "Contact";
}
@section scripts{
    <style>
        td{
            padding-left:5em
        }
    </style>
}
    <h2>@ViewBag.Title.</h2>
    <h3>Keep in Touch (even during corona)</h3>


    <table>
        <tr>
            <td>Crossman, Daniel</td>
            <td>0587632265</td>
            <td>dan.crossman@yahoo.com</td>
        </tr>
        <tr>
            <td>Dan Soucie, David</td>
            <td>0549150244</td>
            <td>newninja.david@gmail.com</td>
        </tr>
        <tr>
            <td>Greenstien, Yitzy</td>
            <td>0527655707</td>
            <td>yitzy.greenstein1@gmail.com</td>
        </tr>
        <tr>
            <td>Ost, Naftoli</td>
            <td>0586238654</td>
            <td>naftoliyost@gmail.com</td>
        </tr>
        <tr>
            <td>Simon, Nosson Dovid</td>
            <td>0587095658</td>
            <td>nossondsimon@gmail.com</td>
        </tr>
        <tr>
            <td>Staum, Yaakov</td>
            <td>0583232056</td>
            <td>yakstaum@gmail.com</td>
        </tr>
    </table>