@{
    ViewBag.Title = "Home Page";
}

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/AppStyle.css">

    <style>
        tab1 {
            padding-left: 4em
        }
    </style>

    <script>
        var d = new Date();
        document.getElementById("date").innerHTML = d.toString("d");

        window.onload = function () {
            document.querySelector("#switch").addEventListener("click", function (e) {
                document.querySelector("#unexperianced-user").style.display = "none";
                document.querySelector("#experianced-user").style.display = "block";
            })
        };
    </script>
}


<!-- todo: (YS) fix links -->
<!-- todo: (YS) experianced/unexperianced -->
<!-- todo: (YS) date only! -->
<div class="homepage-header">
    <div style="display:inline-block">
        <p>USER NAME</p>
        <p>COACH NAME</p>
    </div>
    <div style="display:inline-block; margin-left:20px;">
        <button id="switch">Only here to show how "experinced" user homepage works</button>
    </div>
    <div style="float:right">
        <p id="date"></p>
    </div>
</div>
<div id="unexperianced-user" style="display:block">
    <div class="homepage-goal-container">
        <p>
            <br />
            <br />
            <tab1>
                You have made an account, found yourself a coach, that's Two GOALS Accomplished already.
                <br />
                <br />
                <tab1>The next GOAL is to create a GOAL of your own. Let's get started. Just click on the "Create New Goal" button, and we will walk you through how to Make A GOAL of your own.
        </p>
    </div>
    <div class="homepage-Link-container">
        @Html.ActionLink("CREATE NEW GOAL", "CreateGuided");
    </div>
</div>
<div id="experianced-user" style="display:none">
    <div class="homepage-goal-container">
        <p>
            <!-- todo: Add DB output code here.... -->
            ACTIVE GOALS! (DB input should be here)<br /> eploural enumaphants were really dipsomes (e.n. i think they are distant cousins of elephants, and like the doodoos, were too stupid to survive the ice age.
            they were never seen individually so they were called ploural, the e was cause the one who made the discovery of the mammel had a lisp.)<br /> I PUT THIS IN FOR A. DIAMOND, WHERE EVER HE MAY BE FOUND!
        </p>
    </div>
    <div class="homepage-Link-container">
        @Html.ActionLink("CREATE NEW GOAL", "ChooseCreateType");
    </div>
</div>


