
@{
    ViewBag.Title = "ChooseCreateType";
}

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/AppStyle.css">
    <link rel="stylesheet" type="text/css" href="~/Content/GoalCreaterStyle.css">
}
<h2>ChooseCreateType</h2>

<div>
    <form class="chooseGoalDiv form">
        <div class="chooseGoal-container">
            @Html.ActionLink("Do You Want To Make A Goal Together?", "CreateGuided")
        </div>
    </form>
    <div style="display:inline-block; background-color:#f4976c; width:50px"></div>
    <form class="chooseGoalDiv form">
        <div class="chooseGoal-container">
            @Html.ActionLink("Do You Want To Make A Quick Goal?", "CreateQuick", "UserEvents")
        </div>
    </form>
</div>