
@{
    ViewBag.Title = "ChooseCreateType";
}

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/AppStyle.css">
    <link rel="stylesheet" type="text/css" href="~/Content/GoalCreaterStyle.css">


}
<h2>ChooseCreateType</h2>

<!-- todo: (YS) fix links -->
<div>
    <form class="chooseGoalDiv">
        <div class="chooseGoal-container">
            <a href="~/Views/_Goal/CreateGuided.cshtml">Do You Want To Make A Goal Together</a>
        </div>
    </form>
    <form class="chooseGoalDiv" style="float:right; display:none">
        <div class="chooseGoal-container">
            <a href="~/Views/_Goal/CreateQuick.cshtml">Do You Want To Make A Quick Goal</a>
        </div>
    </form>
</div>