
@{
    ViewBag.Title = "CreateQuick";
}

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/AppStyle.css">
    <link rel="stylesheet" type="text/css" href="~/Content/GoalCreaterStyle.css">

    <style>

        button {
            display: inline-block
        }

    </style>
    <script>
        window.addEventListener("load", function () {
            document.querySelector("form").addEventListener("submit", function (e) {
                var txt = document.querySelector("[name=Goal]").value;
                document.querySelector("#Goal").innerHTML = txt;
                document.querySelector("#ShowGoal").style.display = "block";
                document.querySelector("#goalInput").style.display = "none";

                e.preventDefault();
            });
        });
    </script>
}

<h2>CreateQuick</h2>

<form id="goalInput">
    <h1>What GOAL Do You Want To Accomplish?</h1>
    <input name="Goal" type="text" />
    <button style="display:none"></button>
</form>
<div id="ShowGoal"style="display:none">
    <div style="margin-top:200px">
        <text>GOAL: <span id="Goal"></span></text>
    </div>
    <div>
        <label>Do You Want To Save Your Goal?</label>
        <div>
            <button>Yes</button>
            <button>Clear</button>
            <button>Add Step</button>
            <button>Add Action</button>
        </div>
    </div>
</div>