@model Mens2020.Mvc.Models.CreateGoalModel
@{
    ViewBag.Title = "CreateQuick";
}

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/AppStyle.css">
    <link rel="stylesheet" type="text/css" href="~/Content/GoalCreaterStyle.css">

    <script>


        window.addEventListener("load", function () {
            document.querySelector("#goalInput").addEventListener("submit", function (e) {
                var txt = document.querySelector("[name=Goal]").value;
                document.querySelector("#Goal").innerHTML = txt;
                document.querySelector("#ShowGoal").style.display = "block";
                document.querySelector("#finishGoal").style.display = "block";
                document.querySelector("#goalInput").style.display = "none";

                e.preventDefault();
            });
        });

        window.onload = function () {
            document.querySelector("#color").addEventListener("click", function (e) {
                document.querySelector("#pop-up").style.display = "block";
                document.querySelector("#color-chooser").style.display = "block";
            })
            document.querySelector("#recursion").addEventListener("click", function (e) {
                document.querySelector("#pop-up").style.display = "block";
                document.querySelector("#recursion-form").style.display = "block";
            })
            document.querySelector("#close-color").addEventListener("click", function (e) {
                document.querySelector("#pop-up").style.display = "none";
                document.querySelector("#color-chooser").style.display = "none";                
            })
            document.querySelector("#close-recursion").addEventListener("click", function (e) {
                document.querySelector("#pop-up").style.display = "none";
                document.querySelector("#recursion-form").style.display = "none";
            })
<<<<<<< HEAD
            document.querySelector("#submitRecursion").addEventListener("click", function (e) {
                document.querySelector("#recursion-form").style.display = "none";
                document.querySelector("#pop-up").style.display = "none";


                var sundayChecked = document.getElementById("sunday");
                var sundayclicked = document.getElementById("sunday");
                if (sundayChecked.checked == true) {
                    sunday1.checked = "checked";
                } else {
                    sunday1.checked = "";
                }

                var mondayChecked = document.getElementById("monday");
                var mondayclicked = document.getElementById("monday");
                if (mondayChecked.checked == true) {
                    monday1.checked = "checked";
                } else {
                    monday1.checked = "";
                }

                var tuesdayChecked = document.getElementById("tuesday");
                var tuesdayclicked = document.getElementById("tuesday");
                if (tuesdayChecked.checked == true) {
                    tuesday1.checked = "checked";
                } else {
                    tuesday1.checked = "";
                }

                var wednesdayChecked = document.getElementById("wednesday");
                var wednesdayclicked = document.getElementById("wednesday");
                if (wednesdayChecked.checked == true) {
                    wednesday1.checked = "checked";
                } else {
                    wednesday1.checked = "";
                }

                var thursdayChecked = document.getElementById("thursday");
                var thursdayclicked = document.getElementById("thursday");
                if (thursdayChecked.checked == true) {
                    thursday1.checked = "checked";
                } else {
                    thursday1.checked = "";
                }

                var fridayChecked = document.getElementById("friday");
                var fridayclicked = document.getElementById("friday");
                if (fridayChecked.checked == true) {
                    friday1.checked = "checked";
                } else {
                    friday1.checked = "";
                }

                var saturdayChecked = document.getElementById("saturday");
                var saturdayclicked = document.getElementById("saturday");
                if (saturdayChecked.checked == true) {
                    saturday1.checked = "checked";
                } else {
                    saturday1.checked = "";
                }

                var dailyChecked = document.getElementById("daily");
                var dailyclicked = document.getElementById("daily");
                if (dailyChecked.checked == true) {
                    sunday1.checked = "checked";
                    monday1.checked = "checked";
                    tuesday1.checked = "checked";
                    wednesday1.checked = "checked";
                    thursday1.checked = "checked";
                    friday1.checked = "checked";
                    saturday1.checked = "checked";
                } else { }
            })
=======
           
>>>>>>> ed8b9eb2d577ff2f8a4cb329a071faa31b1ed038
        };
    </script>
}

<h2>CreateQuick</h2>

<form id="goalInput">
    <h1>What GOAL Do You Want To Accomplish?</h1>
    <!-- todo: Add DB input code here.... -->
    @Html.EditorFor(x => x.EventTitle)
    @Html.EditorFor(x => x.CompletedDate)


    <input name="Goal" type="text" />
    <input type="submit" value="Submit">
    <button style="display:none"></button>
</form>
<div id="ShowGoal" style="display:none">
    <div style="margin-top:20px">
        <!-- todo: Add DB output code here.... -->
        <text>GOAL: <span id="Goal"></span></text>
    </div>
    <div id="finishGoal" class="finishgoal-div">
        <div id="pop-up" class="finishgoal-form-container">
            <div class="opaque-background"></div>
            <form id="color-chooser" class="finishgoal-form">
                <!-- todo:(YG) Add color chooser here.... -->
                <button type="button" id="close-color" class="close-button">X</button>
                NEEDS COLOR CHOOSER!!!!
            </form>
            <form id="recursion-form" class="finishgoal-form" style="display:none;z-index:5 ">
                <button type="button" id="close-recursion" class="close-button">X</button>
                <!-- todo: Add DB input code here.... -->
                <div>
                    <div>
                        <input type="checkbox" id="sunday" value="sunday">Sunday
                    </div>

                    <div>
                        <input type="checkbox" id="monday" value="monday">Monday
                    </div>

                    <div>
                        <input type="checkbox" id="tuesday" value="tuesday">Tuesday
                    </div>

                    <div>
                        <input type="checkbox" id="wednesday" value="wednesday">Wednesday
                    </div>

                    <div>
                        <input type="checkbox" id="thursday" value="thursday">Thursday
                    </div>

                    <div>
                        <input type="checkbox" id="friday" value="friday">Friday
                    </div>

                    <div>
                        <input type="checkbox" id="saturday" value="saturday">Saturday
                    </div>
                    <br />
                    <div>
                        <input type="checkbox" id="daily" value="daily"><b>DAILY</b>
                    </div>
                </div>
                <button type="button" id="submitRecursion">Submit</button>
            </form>
        </div>
        <div>
            <div id="recursion" class="finishgoal-button" style="padding-top:15px;">
                <div style="position:absolute; height:120px; width:120px; opacity:0"></div>
                <div id="review">
                    <div>
                        <input type="checkbox" id="sunday1" value="sunday1">Sun
                        <input type="checkbox" id="monday1" value="monday1">Mon
                    </div>

                    <div>
                        <input type="checkbox" id="tuesday1" value="tuesday1">Tues
                        <input type="checkbox" id="wednesday1" value="wednesday1">Weds
                    </div>

                    <div>
                        <input type="checkbox" id="thursday1" value="thursday1">Thurs
                        <input type="checkbox" id="friday1" value="friday1">Fri
                    </div>

                    <div>
                        <input type="checkbox" id="saturday1" value="saturday1">Sat
                    </div>
                </div>
            </div>
            <div id="color" class="finishgoal-button" style="padding-top:44px;">Choose Color<br /><br /><br /></div>
        </div>
        <div>
            
            <button id="save">SAVE</button>
            <button>Clear All</button>
        </div>
    </div>
</div>