
@{
    ViewBag.Title = "CreateGuided";
}

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/AppStyle.css">
    <link rel="stylesheet" type="text/css" href="~/Content/GoalCreaterStyle.css">

    <style>


        h1 {
            text-align: center;
        }
    </style>

    <script>
        window.addEventListener("load", function () {
            document.querySelector("#goalInput").addEventListener("submit", function GoalInput(e) {
                var txt = document.querySelector("[name=goal]").value;
                document.querySelector("#Goal").innerHTML = txt;
                document.querySelector("#stepInput").style.display = "block";
                document.querySelector("#goalInput").style.display = "none";
                document.querySelector("#showGoal").style.display = "block";

                e.preventDefault();
            });

            document.querySelector("#stepInput").addEventListener("submit", function StepInput(e) {
                var txt = document.querySelector("[name=step]").value;
                document.querySelector("#Step").innerHTML = txt;
                document.querySelector("#actionInput").style.display = "block";
                document.querySelector("#stepInput").style.display = "none";
                document.querySelector("#showStep").style.display = "block";

                e.preventDefault();
            });

            document.querySelector("#addStep-form").addEventListener("submit", function NewStepInput(e) {
                var txt = document.querySelector("[name=step]").value;
                document.querySelector("#Step").innerHTML = txt;
                document.querySelector("#actionInput").style.display = "block";
                document.querySelector("#addStep-form").style.display = "none";
                document.querySelector("#showStep").style.display = "block";

                e.preventDefault();
            });

            document.querySelector("#actionInput").addEventListener("submit", function ActionInput(e) {
                var txt = document.querySelector("[name=action]").value;
                document.querySelector("#Action").innerHTML = txt;
                document.querySelector("div").style.display = "block";
                document.querySelector("#actionInput").style.display = "none";
                document.querySelector("#showAction").style.display = "block";
                document.querySelector("#finishGoal").style.display = "block";

                e.preventDefault();
            });

            document.querySelector("#addAction-form").addEventListener("submit", function ActionInput(e) {
                var txt = document.querySelector("[name=action]").value;
                document.querySelector("#Action").innerHTML = txt;
                document.querySelector("div").style.display = "block";
                document.querySelector("#addAction-form").style.display = "none";
                document.querySelector("#showAction").style.display = "block";
                document.querySelector("#finishGoal").style.display = "block";

                e.preventDefault();
            });
        });

        window.onload = function () {
            document.querySelector("#color").addEventListener("click", function ColorChooser (e) {
                document.querySelector("#pop-up").style.display = "block";
                document.querySelector("#color-form").style.display = "block";
            })
            document.querySelector("#addStep").addEventListener("click", function AddNewStep (e) {
                document.querySelector("#finishGoal").style.display = "none";
                document.querySelector("#showStep").style.display = "none";
                document.querySelector("#showAction").style.display = "none";
                document.querySelector("#addStep-form").style.display = "block";

            })
            document.querySelector("#addAction").addEventListener("click", function AddNewAction (e) {
                document.querySelector("#finishGoal").style.display = "none";
                document.querySelector("#showAction").style.display = "none";
                document.querySelector("#addAction-form").style.display = "block";
            })
            document.querySelector("#recursion").addEventListener("click", function Recursion (e) {
                document.querySelector("#pop-up").style.display = "block";
                document.querySelector("#recursion-form").style.display = "block";
            })
            document.querySelector("#close-color").addEventListener("click", function (e) {
                document.querySelector("#pop-up").style.display = "none";
                document.querySelector("#color-chooser").style.display = "none";
            })
            document.querySelector("#close-recursion").addEventListener("click", function (e) {
                document.querySelector("#pop-up").style.display = "none";
                document.querySelector("#recursion-form").style.display = "none";
            })
        };

    </script>
}

<h2>CreateGuided</h2>
<!-- todo: (YS) #Action updater  -->
<!-- todo: (YS) #Step updater -->

<div class="goalPages-text ">
    <div id="showGoal" style="display:none">
        <!-- todo: Add DB output code here.... -->
        <text>GOAL: <span id="Goal"></span></text>
    </div>
    <div id="showStep" style="display:none">
        <!-- todo: Add DB output code here.... -->
        <text>STEP: <span id="Step"></span></text>
    </div>
    <div id="showAction" style="display:none">
        <!-- todo: Add DB output code here.... -->
        <text>ACTION: <span id="Action"></span></text>
    </div>
    <div id="finishGoal" class="finishgoal-div">
        <div id="pop-up" class="finishgoal-form-container">
            <div class="opaque-background"></div>
            <form id="color-form" class="finishgoal-form">
                <!-- todo:(YG) Add color chooser here.... -->
                <button type="button" id="close-color" class="close-button">X</button>
                NEEDS COLOR CHOOSER!!!!
            </form>
            <form id="recursion-form" class="finishgoal-form">
                <button type="button" id="close-recursion" class="close-button">X</button>
                <!-- todo: Add DB input code here.... -->
                NEEDS CODE!
            </form>


        </div>
        <button id="color" class="finishgoal-button">Choose Color</button>
        <button id="addStep" class="finishgoal-button">Add Step</button>
        <button id="addAction" class="finishgoal-button">Add Action</button>
        <button id="recursion" class="finishgoal-button">Done By</button>
        <div>
            <button>SAVE</button>
            <button>Clear All</button>
        </div>
    </div>
</div>
<div>
    <form id="goalInput">
        <h1>What is your GOAL?</h1>
        <!-- todo: Add DB input code here.... -->
        <input name="goal" type="text" />
        <button class="submit-by-enter"></button>
    </form>
    <form id="stepInput" style="display:none">
        <h1>What STEP will help you to achieve your GOAL?</h1>
        <!-- todo: Add DB input code here.... -->
        <input type="text" name="step" />
        <button class="submit-by-enter"></button>
    </form>

    <form id="actionInput" style="display:none">
        <h1>What ACTION will you need to do to complete your STEP?</h1>
        <!-- todo: Add DB input code here.... -->
        <input type="text" name="action" />
        <button class="submit-by-enter"></button>
    </form>

    <form id="addStep-form" style="display:none">
        <h1>What New STEP will help you to achieve your GOAL?</h1>
        <!-- todo: Add DB input code here.... -->
        <input type="text" name="step" />
        <button class="submit-by-enter"></button>
    </form>

    <form id="addAction-form" style="display:none">
        <h1>What New Action will help you to achieve your Step?</h1>
        <!-- todo: Add DB input code here.... -->
        <input type="text" name="action" />
        <button class="submit-by-enter"></button>
    </form>
</div> 