
@{
    ViewBag.Title = "CreateQuick";
}

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/AppStyle.css">
    <link rel="stylesheet" type="text/css" href="~/Content/GoalCreaterStyle.css">

    <script>


        window.addEventListener("load", function () {
            document.querySelector("#goalInput").addEventListener("submit", function (e) {
                var txt = document.querySelector("[name=Goal]").value;
                document.querySelector("#Goal").innerHTML = txt;
                document.querySelector("#ShowGoal").style.display = "block";
                document.querySelector("#finishGoal").style.display = "block";
                document.querySelector("#goalInput").style.display = "none";

                e.preventDefault();
            });
        });

        window.onload = function () {
            document.querySelector("#color").addEventListener("click", function (e) {
                document.querySelector("#pop-up").style.display = "block";
                document.querySelector("#color-chooser").style.display = "block";
            })
            document.querySelector("#recursion").addEventListener("click", function (e) {
                document.querySelector("#pop-up").style.display = "block";
                document.querySelector("#recursion-form").style.display = "block";
            })
            document.querySelector("#close").addEventListener("click", function (e) {
                document.querySelector("#pop-up").style.display = "none";
                document.querySelector("#color-chooser").style.display = "none";
                document.querySelector("#recursion-form").style.display = "none";
            })
        };
    </script>
}

<h2>CreateQuick</h2>
<!-- todo: (YS) close button -->

<form id="goalInput">
    <h1>What GOAL Do You Want To Accomplish?</h1>
    <!-- todo: Add DB input code here.... -->
    <input name="Goal" type="text" />
    <button style="display:none"></button>
</form>
<div id="ShowGoal" style="display:none">
    <div style="margin-top:200px">
        <!-- todo: Add DB output code here.... -->
        <text>GOAL: <span id="Goal"></span></text>
    </div>
    <div id="finishGoal" class="finishgoal-div">
        <div id="pop-up" class="finishgoal-form-container">
            <div class="opaque-background"></div>
            <form id="color-chooser" class="finishgoal-form">
                <!-- todo:(YG) Add color chooser here.... -->
                <button id="close">X</button>
                NEEDS COLOR CHOOSER!!!!
            </form>
            <form id="recursion-form" class="finishgoal-form" style="display:none">
                <!-- todo: Add DB input code here.... -->
                NEEDS CODE!
            </form>
        </div>
        <button id="color" class="finishgoal-button">Choose Color</button>
        <button id="recursion" class="finishgoal-button">Done By</button>
        <div>
            <button>SAVE</button>
            <button>Clear All</button>
        </div>
    </div>
</div>