.sidebar {
    width: 2vw;
    height: 100vh;
    float: left;
    border: solid;
    overflow-x: hidden;
}

.body-container {
    width: 97vw;
    height: 100vh;
    float: right;
}

container-sidebar-and-body {
    background-color: #fbe8a6;
}

.container-sidebar-and-body.sidebar-open .sidebar {
    width: 19vw;
}

.container-sidebar-and-body.sidebar-open .body-container {
    width: 80vw;
}
.needs-work{
    background-color:chartreuse;
}