.sidebar {
    width: 2vw;
    height: 100vh;
    float: left;
    border: solid;
    overflow-x: hidden;
}

.body-container {
    width: 95vw;
    height: 100vh;
    float: right;
}

container-sidebar-and-body {
    background-color: #fbe8a6;
}

.container-sidebar-and-body.sidebar-open .sidebar {
    width: 19vw;
}

.container-sidebar-and-body.sidebar-open .body-container {
    width: 80vw;
}

.container-sidebar-and-body.not-signed-in .sidebar {
    display:none;
}

.container-sidebar-and-body.not-signed-in .body-container {
    width: 100vw;
}

.homepage-header{
    margin:10px;
}

.homepage-goal-container {
    border: solid;
    height: 60vh;
    width: 40vw;
    display: inline-block;
    padding: 4em;
    font-size: large;
}

.homepage-Link-container {
    float: right;
    margin-top: 20vh;
    display: inline;
    height: 20vh;
    width: 10vw;
    border: solid;
    text-align: center;
    font-size: large;
    padding-top: 27px;
}