text {
    font-size: 60px;
    font-weight: bolder;
    position: center;
    text-align: center;
}

div {
    text-align: center;
    margin: auto;
}

.form {
    background-color: #f4976c;
    border: solid;
    text-align: center;
    width: 500px;
    margin: auto;
    top: 30%;
    padding:15px;
}

a {
    color: black;
    text-decoration: solid;
    display: inline-block;
    width: 100%;
    height: 100%;
}

input {
    margin-bottom: 2em;
}

button{
    display:inline-block
}

.show-previous {
    font-size: 30px;
    color: #303c6c;
    text-align: center;
    font-size: 20px;
    display: none;
}

.submit-by-enter {
    display: none;
}

.chooseGoalDiv {
    width: 200px;
    height: 200px;
    display: inline-block;
}
.chooseGoal-container {
    border: solid;
    width: 150px;
    height: 150px;
    margin: 10px;
    line-height: 60px;
}

.finishgoal-div {
    position: relative;
    display: none;
    margin: 40px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto
}

.finishgoal-button {
    height: 120px;
    width: 120px;
    background-color: white;
    display:inline-block;
}

.finishgoal-form-container {      
    display: none;
    top:initial;
}

.opaque-background {
    position: absolute;
    background-color: gray;
    opacity: .3;
    height: 200px;
    width: 500px;
    left: 28%;
    top: -20px;
}

.finishgoal-form {
    position: absolute;
    display:none;
    height: 150px;
    width: 350px;
    left: 34%;
    top: 0px;
}

.close-button{
    float:right;
}
